/* src/Header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 40px;
    margin-left: 50px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
}

.search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #CFCECE;
    width: 215px;
    height: 36px;
}

.search button {
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

.icons .cart-icon {
    margin-right: 70px;
}

.icons .signIn-btn {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    border: 3px solid #000000;
    margin-bottom: 30px;
}

.icons .book-btn {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    border: 3px solid #F26922;
}

.icons .book-btn:hover {
    background-color: #F26922;
    color: #fff;
}

  /* Responsive Styles */

  /* Mobile Devices (max-width: 600px) */
    @media (max-width: 600px) {
.header {
    flex-direction: column;
    align-items: flex-start;
}

.logo img {
    margin-left: 0;
    height: 30px;
}

    .nav ul {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.nav ul li {
    margin: 10px 0;
}

.search input {
    width: 100%;
    margin-bottom: 10px;
}

.search button {
    width: 100%;
}

    .icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons a, .icons .signIn-btn, .icons .book-btn {
    margin-left: 0;
    margin-bottom: 10px;
}

.icons .cart-icon {
    margin-right: 0;
}

.icons .signIn-btn {
    margin-bottom: 10px;
}
}

  /* Tablets (min-width: 601px and max-width: 1024px) */
    @media (min-width: 601px) and (max-width: 1024px) {
.header {
    padding: 10px 15px;
}

.logo img {
    height: 35px;
    margin-left: 20px;
}

.nav ul {
    justify-content: space-between;
}

.nav ul li {
    margin-right: 15px;
    }

.search input {
    width: 180px;
}

.search button {
    padding: 5px 8px;
}

.icons .cart-icon {
    margin-right: 20px;
}
}

  /* Small Desktops (min-width: 1025px and max-width: 1440px) */
    @media (min-width: 1025px) and (max-width: 1440px) {
.header {
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    margin-left: 30px;
}

.nav ul {
    justify-content: space-between;
}

.nav ul li {
    margin-right: 20px;
}

.search input {
    width: 200px;
}

.search button {
    padding: 5px 10px;
}

.icons .cart-icon {
    margin-right: 50px;
}
}

  /* Large Desktops (min-width: 1441px) */
    @media (min-width: 1441px) {
.header {
    padding: 10px 20px;
}

.logo img {
    height: 40px;
    margin-left: 50px;
}

.nav ul {
    justify-content: space-between;
}

.nav ul li {
    margin-right: 20px;
}

.search input {
    width: 215px;
}

.search button {
    padding: 5px 10px;
}

.icons .cart-icon {
    margin-right: 70px;
}
}
