/* src/components/PromotionSection.css */
.promotion-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
}

.promo-card, .promo-banner {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.promo-card {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    font: "poppins";
    text-align: center;
    
}

.promo-banner {
    color: #000000;
    flex-basis: 80%;
    display: flex;
    align-items: center;

}

.promo-card:nth-child(1) {
    background-image: url('../../Assets/card\ 1.png');
}

.promo-card:nth-child(2) {
    background-image: url('../../Assets/card\ 2.png');
}

.promo-banner {
    background-image: url('../../Assets/card\ 3.png');
}

.promo-banner .logo {
    width: 300px;
    height: 300px;
    margin-left: 20%;
}


.promo-text {
    align-items: center;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}